<div class="building_inspection_method">
    <p>
        Em conformidade com a lei supracitada, a inspeção foi 
        realizada para identificação de anomalias aparentes e 
        abrange cada sistema construtivo da edificação, com enfoque 
        nos aspectos de segurança, manutenção e estabilidade, assim 
        seguimos as seguintes diretrizes para elaboração do laudo:
    </p>

    <ul>
        <li>Visita preliminar à edificação;</li>
        <li>Determinação da classificação do nível de inspeção predial;</li>
        <li>Solicitação da documentação da edificação;</li>
        <li>Análise da documentação;</li>
        <li>Planejamento da vistoria técnica;</li>
        <li>Realização da vistoria da edificação, preenchimento das listas de verificação, registro técnico fotográfico e obtenção de informações complementares dos usuários, responsáveis, proprietários e gestores da edificação;</li>
        <li>Classificação das anomalias e falhas constatadas nos itens vistoriados e das não conformidades com a documentação examinada;</li>
        <li>Classificação e análise das anomalias e falhas quanto ao grau de risco;</li>
        <li>Definição de prioridades com relação às anomalias e falhas;</li>
        <li>Avaliação da manutenção e uso;</li>
        <li>Avaliação das condições de estabilidade e segurança;</li>
        <li>Prescrições e recomendações técnicas para saneamento de anomalias e correções de falhas;</li>
        <li>Elaboração e entrega do laudo.</li>
    </ul>

    <p>
        Ressaltamos que no processo de inspeção observa-se as 
        diretrizes constantes da Norma de inspeção Predial do 
        IBAPE – 2012, da Norma de Manutenção em Edificações – NBR 
        5674, da ABNT e outros dispositivos legais pertinentes.
    </p>
</div>

<style>
    .building_inspection_method {
        position: absolute;
        width: 595px;
        height: 532px;
        top: 91px;
        padding: 12px 56px 12px 56px;
    }

    .building_inspection_method p {
        text-indent: 47.22px;
        text-align: justify;
        text-justify: inter-word;
        font-size: 10px;
        font-weight: 400;
        line-height: 18px;
        color: #000509E3;
    }

    .building_inspection_method ul {
        width: 483px;
        margin: 8px 0;
        /* padding: 12px; */
        gap: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        flex-direction: column;
    }

    .building_inspection_method li {
        width: 471px;
        margin-left: 12px;
        font-size: 10px;
        font-weight: 400;
        line-height: 18px;
        text-align: justify;
        text-justify: inter-word;
        color: #000509E3;
    }
</style>