<div class="inspection_level_container">
    <p>
        Os critérios de classificação das anomalias e falhas 
        existente na edificação e constatadas em uma inspeção 
        predial, considerado o risco oferecido aos usuários, ao 
        meio ambiente e ao patrimônio dentro dos limites da inspeção 
        predial.
    </p>

    <p>
        A análise do risco consiste das anomalias e falhas 
        identificadas nos diversos componentes de uma edificação, 
        quanto ao seu grau de risco relacionado com fatores de
         manutenção, depreciação, saúde, segurança, funcionalidade, 
         comprometimento de vida útil e perda de desempenho. O 
         edifício foi classificado levando em consideração essas 
         características. Assim, podemos classificar a edificação 
         em risco crítico, médio e mínimo, conforme descrito abaixo:
    </p>

    <h2>CRÍTICO</h2>

    <p class="level_definition">
        <strong>Definição:</strong> Risco de provocar danos contra a 
        saúde e segurança das pessoas e do meio ambiente; perda 
        excessiva de desempenho e funcionalidade causando possíveis 
        paralisações; aumento excessivo de custo de manutenção e 
        recuperação; comprometimento sensível de vida útil.
    </p>

    <h2>MÉDIO</h2>

    <p class="level_definition">
        <strong>Definição:</strong> Definição: Risco de provocar a 
        perda parcial de desempenho e funcionalidade da edificação 
        sem prejuízo à operação direta de sistemas, e deterioração 
        precoce.
    </p>

    <h2>MÍNIMO</h2>

    <p class="level_definition">
        <strong>Definição:</strong> Definição: Risco de causar 
        pequenos prejuízos à estética ou atividade programável e 
        planejada, sem incidência ou sem a probabilidade de 
        ocorrência dos riscos críticos e regulares, além de baixo 
        ou nenhum comprometimento do valor imobiliário.
    </p>
</div>