<div class="page_title_container">
    <h2 class="page_title"><%= title %></h2>
</div>

<style>
    .page_title_container {
        width: 595px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #00ADEE14;
        padding: 0px 40px 0px 40px
    }

    .page_title_container .page_title { 
        width: 515px;    
        height: 11px;       
        color: #1C2024;

        font-size: 11px;
        font-weight: 700;
        line-height: 11px;
        letter-spacing: 0px;
        text-align: center;
    }  
</style>